In [1]:
import numpy as np
import cv2

In [2]:
img=cv2.imread("C:/Users/arinia/Pictures/certi1.jpg",cv2.IMREAD_COLOR)

In [3]:
font=cv2.FONT_ITALIC

In [4]:
cv2.putText(img,"Jinia Konar",(160,120),font,0.9,(0,0,0),1,cv2.LINE_AA)
cv2.putText(img,"27-01-2019",(50,255),font,0.5,(0,0,0),1,cv2.LINE_AA)
cv2.putText(img,"VsionManit",(320,255),font,0.5,(0,0,0),1,cv2.LINE_AA)
cv2.imshow('image',img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("names.csv")
df

      names        date
0     jinia  12-01-2019
1    siddhi  13-01-2019
2  himanshi  14-01-2019
3     nayan  15-01-2019
4    aniket  17-01-2019

In [7]:
for row in df:
    print(row)

names
date

In [10]:
df.shape

(5, 2)

In [11]:
for row in range(df.shape[0]):
    for col in range(df.shape[1]):
        print(df.iloc[row,col])

jinia
12-01-2019
siddhi
13-01-2019
himanshi
14-01-2019
nayan
15-01-2019
aniket
17-01-2019

In [14]:
for row in range(df.shape[0]):
    img=cv2.imread("C:/Users/arinia/Pictures/certi1.jpg",cv2.IMREAD_COLOR)
    font=cv2.FONT_ITALIC
    cv2.putText(img,df.iloc[row,0],(160,120),font,0.9,(0,0,0),1,cv2.LINE_AA)
    cv2.putText(img,df.iloc[row,1],(50,255),font,0.5,(0,0,0),1,cv2.LINE_AA)
    cv2.putText(img,"VsionManit",(320,255),font,0.5,(0,0,0),1,cv2.LINE_AA)
    cv2.imshow('image',img)
    cv2.waitKey(0)
    cv2.destroyAllWindows()